RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://fcharlescrawford.com/$1 [L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^fcharlescrawford.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.fcharlescrawford.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://fcharlescrawford.com/$1 [L]